*{
  box-sizing: border-box;
  color: aliceblue;
  
}
.App {
  text-align: center;
}

body{
  background-color: rgba(48, 47, 47);
  
}

.Navbar{
  background-image: url(https://arc-anglerfish-arc2-prod-copesa.s3.amazonaws.com/public/QQWVSJ6MDVGKRELX455KIABEEY.gif);
  background-position: 50% 32%;
  height: 250px;
}

.title_h1{
  text-align: center;
  font-family: 'Pangolin', cursive;
  font-size: 3rem;
  padding-top: 3rem;
  color: rgb(255, 255, 255);
}

.imput{
  color: white;
  background-color: rgb(0, 0, 0, 0.2);
  width: 50%;
}

.button_imput{
  border: none;
  background-color: rgba(245, 118, 0, 0.829);
  margin-left: 1rem;
  width: 80px;
  height: 33px;
  border-radius: 20px;
}

h3{
  font-family: 'Pangolin', cursive;
  margin: 2rem;
  font-size: 2rem;
}

.cards{
  display: flex;
  background: rgb(0, 0, 0, 0.2);
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: left;
  height: 200px;
  max-width: 90%;
}
.cards img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 160px;
    
}

li{
  list-style: none;
}

.circle-green{
  display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: green;
}

.circle-red{
  display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: red;
}

.info{
  padding: 5px 0 0 20px;
  
}

.description{
  font-size: .8rem;
    margin-bottom: 2px;
    color: hsla(0,0%,100%,.4);
}